
div.autotesting
{
font-size: 14px;
margin-left: 5px;
float: left;
}

div.statuses
{
float: left;
margin-left: 5px;
}

div.access
{
margin-top: 70px;
}

div.merge
{
margin-top: 10px;
}
div.merge div
{
margin-top:-10px;
}

input, label {
    float:left;
    margin:5px;
}
