<!DOCTYPE html>
<html lang="en">
<head>
    <title>Тестирование продуктов</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="templates/js/branch.js"></script>
    <link rel="stylesheet" href="templates/styles/style.css" type="text/css">
    <link href="templates/styles/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<div class="container">
  <div class="row">
    <div class="row">
      <div class="col-md-6">
        <form role="form">
          <div class="form-group">
            <label for="svnBranch">Путь к бранчу</label>
            <input class="form-control" id="svnBranch" placeholder="https://redmine.nordavind.ru/svn/tvz-win/branches/trunk">
          </div>
          <div class="form-group">
            <label for="svnTesting">Путь к тестам</label>
            <input class="form-control" id="svnTesting" placeholder="https://redmine.nordavind.ru/svn/tvz-win-testing/python3/trunk">
          </div>
          <input type="button" class="btn btn-default" id="next" value="Далее">
        </form>

      </div>
    </div>
  </div>
</div>
</html>

