<!DOCTYPE html>
<html>
<head>
    <title>Страница автотестирования</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="static/js/script.js"></script>
    <link rel="stylesheet" href="static/css/style.css" type="text/css">
    <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <!--<script type="text/javascript">-->
            <!--function loading(){-->
                <!--$("#loading").show();-->
                <!--$("#content").hide();-->
            <!--}-->
    <!--</script>-->
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div align="center"><h2>Сервер тестирования ПО</h2></div>
        <div class="col-md-6">
            <div class="autotesting">
                <table class="table table-condensed table-bordered">
                    <caption><strong>Автотестирование</strong></caption>
                    <tr>
                        <th>Имя</th>
                        <th>Тестируемое ПО</th>
                        <th>Ревизия</th>
                        <th>Статус сервера</th>
                        <th>IP адрес</th>
                    </tr>
                    {% for data in test %}
                    <tr>
                        <td class="{{ 'testname'+''.join([data[6]|string]) }}">{{ data[0] }}</td>
                        <td class="{{ 'testurl'+''.join([data[6]|string]) }}" ><a href="{{ ''.join(['http://', data[1]+':'+data[2]+'/'+data[3]]) }}">{{ data[3] }}</a></td>
                        <td class="{{ 'testrev'+''.join([data[6]|string]) }}">{{ data[4] }}</td>
                        <td class="{{ 'teststatus'+''.join([data[6]|string]) }}">{% if data[5]|int %} <p style="color: green;">Online</p> {% else %} <p
                                style="color: red;">Offline</p> {% endif %}
                        </td>
                        <td class="{{ 'testip'+''.join([data[6]|string]) }}">{{ data[1] }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5" style="text-align: center;"><strong>Автосборки</strong></td>
                    </tr>
                    {% for data in build %}
                    <tr>
                        <td class="{{ 'buildname'+''.join([data[6]|string]) }}">{{ data[0] }}</td>
                        <td class="{{ 'buildurl'+''.join([data[6]|string]) }}" ><a href="{{ ''.join(['http://', data[1]+':'+data[2]+'/'+data[3]]) }}">{{ data[3] }}</a></td>
                        <td class="{{ 'buildrev'+''.join([data[6]|string]) }}">{{ data[4] }}</td>
                        <td class="{{ 'buildstatus'+''.join([data[6]|string]) }}">{% if data[5]|int %} <p style="color: green;">Online</p> {% else %} <p
                                style="color: red;">Offline</p> {% endif %}
                        </td>
                        <td class="{{ 'buildip'+''.join([data[6]|string]) }}">{{ data[1] }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5" style="text-align: center;"><strong>Документация</strong></td>
                    </tr>
                    {% for data in doc %}
                    <tr>
                        <td class="{{ 'docname'+''.join([data[6]|string]) }}">{{ data[0] }}</td>
                        <td class="{{ 'docurl'+''.join([data[6]|string]) }}" ><a href="{{ ''.join(['http://', data[1]+':'+data[2]+'/'+data[3]]) }}">{{ data[3] }}</a></td>
                        <td class="{{ 'docrev'+''.join([data[6]|string]) }}">{{ data[4] }}</td>
                        <td class="{{ 'docstatus'+''.join([data[6]|string]) }}">{% if data[5]|int %} <p style="color: green;">Online</p> {% else %} <p
                                style="color: red;">Offline</p> {% endif %}
                        </td>
                        <td class="{{ 'docip'+''.join([data[6]|string]) }}">{{ data[1] }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5" style="text-align: center;"><strong>Автомерж</strong></td>
                    </tr>
                    {% for data in merge %}
                    <tr>
                        <td class="{{ 'mergename'+''.join([data[6]|string]) }}">{{ data[0] }}</td>
                        <td class="{{ 'mergeurl'+''.join([data[6]|string]) }}" ><a href="{{ ''.join(['http://', data[1]+':'+data[2]+'/'+data[3]]) }}">{{ data[3] }}</a></td>
                        <td class="{{ 'mergerev'+''.join([data[6]|string]) }}">{{ data[4] }}</td>
                        <td class="{{ 'mergestatus'+''.join([data[6]|string]) }}">{% if data[5]|int %} <p style="color: green;">Online</p> {% else %} <p
                                style="color: red;">Offline</p> {% endif %}
                        </td>
                        <td class="{{ 'mergeip'+''.join([data[6]|string]) }}">{{ data[1] }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="statuses">
                <div class="statuscam">
                    <table class="table table-condensed table-bordered">
                        <caption><strong>Статус камер</strong></caption>
                        <tr>
                            {% for data in cam %}
                                {%- if loop.index % 19==0 %}
                                    {% if data[1]|int %}
                                        <td class="{{ 'cam'+''.join([data[2]|string]) }}" bgcolor="green" title="{{ ''.join([data[0]]) }}">&nbsp&nbsp&nbsp&nbsp</td>
                                    {% else %}
                                        <td class="{{ 'cam'+''.join([data[2]|string]) }}" bgcolor="red" title="{{ ''.join([data[0]]) }}">&nbsp&nbsp&nbsp&nbsp</td>
                                    {% endif %}
                            </tr>
                            <tr>
                                {% else %}
                                    {% if data[1]|int %}
                                        <td class="{{ 'cam'+''.join([data[2]|string]) }}" bgcolor="green" title="{{ ''.join([data[0]]) }}">&nbsp&nbsp&nbsp&nbsp</td>
                                    {% else %}
                                        <td class="{{ 'cam'+''.join([data[2]|string]) }}" bgcolor="red" title="{{ ''.join([data[0]]) }}">&nbsp&nbsp&nbsp&nbsp</td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                    </table>
                </div>
                <div class="merge">
                    <p class="text-center"><strong>Кнопки мержа</strong></p>
                    <div id="loading"></div>
                    <div id="content">
                        {% for button in buttons %}
                        <form role="form" action="buttons" target="_blank" method="post">
                            <div class="form-group">
                                <input name="{{ ''.join([button[0]]) }}" class="btn btn-default" type="submit" value="{{ ''.join([button[0]]) }}"
                                       title="{{ ''.join([button[1]]) }}"
                                       style="width:150px;">
                            </div>
                        </form>
                        {% endfor %}
                    </div>
                </div>
                <div class="access">
                    <table class="table table-condensed table-bordered">
                        <caption><strong>Доступность</strong>&nbsp;<strong>ресурсов</strong></caption>
                        <tr>
                            <th>Ресурс</th>
                            <th>Статус</th>
                        </tr>
                        {% for data in res %}
                        <tr>
                            <td>{{ data[0] }}</td>
                            {% if data[2]|int %}
                                <td class="{{ 'res'+''.join([data[0]]) }}" bgcolor="green" title="{{ ''.join([data[1]]) }}">&nbsp&nbsp&nbsp&nbsp</td>
                            {% else %}
                                <td class="{{ 'res'+''.join([data[0]]) }}" bgcolor="red" title="{{ ''.join([data[1]]) }}">&nbsp&nbsp&nbsp&nbsp</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="branch">
                    <button type="button" class="btn btn-default" onclick="window.open('/branch')">Создать бранч</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
