<!DOCTYPE html>
<html>
<head>
    <title>Страница автотестирования</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" type="text/css">
    <link href="templates/styles/bootstrap.min.css" rel="stylesheet" media="screen">
    <style type="text/css">
        .container {
        max-width: 500px;
        padding-top: 100px;
        }
    </style>
    <script type="text/javascript">
        window.onload = setupRefresh;

        function setupRefresh() {
            setTimeout("refreshPage();", 60000); // milliseconds
        }
        function refreshPage() {
            window.location = location.href;
        }
    </script>
</head>
<body>
<div align="center"><h2>Сервер тестирования ПО</h2></div>
<div style="font-size: 14px; margin-left: 5px; float: left;">
    <table border="1">
    <caption><b>Автотестирование</b></caption>
        <tr>
            <th>Имя</th>
            <th>Тестируемое ПО</th>
            <th>Ревизия</th>
            <th>Статус сервера</th>
            <th>IP адрес</th>
        </tr>
        {% for data in test %}
        <tr>
            <td>{{ data[0] }}</td>
            <td><a href="{{ ''.join(['http://', data[1]+':'+data[2]+data[3]]) }}">{{ data[3][1:] }}</a></td>
            <td>{{ data[4] }}</td>
            <td>{% if data[5]|int %} <p style="color: green; margin: 0px;">Online</p> {% else %} <p style="color: red;">Offline</p> {% endif %}</td>
            <td>{{ data[1] }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="5" style="text-align: center;"><b>Автосборки</b></td>
        </tr>
        {% for data in build %}
        <tr>
            <td>{{ data[0] }}</td>
            <td><a href="{{ ''.join(['http://', data[1]+':'+data[2]+data[3]]) }}">{{ data[3][1:] }}</a></td>
            <td>{{ data[4] }}</td>
            <td>{% if data[5]|int %} <p style="color: green; margin: 0px;">Online</p> {% else %} <p style="color: red;">Offline</p> {% endif %}</td>
            <td>{{ data[1] }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="5" style="text-align: center;"><b>Документация</b></td>
        </tr>
        {% for data in doc %}
        <tr>
            <td>{{ data[0] }}</td>
            <td><a href="{{ ''.join(['http://', data[1]+':'+data[2]+data[3]]) }}">{{ data[3][1:] }}</a></td>
            <td>{{ data[4] }}</td>
            <td>{% if data[5]|int %} <p style="color: green; margin: 0px;">Online</p> {% else %} <p style="color: red;">Offline</p> {% endif %}</td>
            <td>{{ data[1] }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="5" style="text-align: center;"><b>Автомерж</b></td>
        </tr>
        {% for data in merge %}
        <tr>
            <td>{{ data[0] }}</td>
            <td><a href="{{ ''.join(['http://', data[1]+':'+data[2]+data[3]]) }}">{{ data[3][1:] }}</a></td>
            <td>{{ data[4] }}</td>
            <td>{% if data[5]|int %} <p style="color: green; margin: 0px;">Online</p> {% else %} <p style="color: red;">Offline</p> {% endif %}</td>
            <td>{{ data[1] }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
<div style="float: left; margin-left: 5px;">
  <table border="1">
   <caption><b>Статус камер</b></caption>
   <tr>
   {% for data in cam %}
        {%- if loop.index % 19==0 %}
            {% if data[1]|int %}
            <td bgcolor="green" title="{{ ''.join([data[0]]) }}">&nbsp&nbsp&nbsp&nbsp</td>
            {% else %}
            <td bgcolor="red" title="{{ ''.join([data[0]]) }}">&nbsp&nbsp&nbsp&nbsp</td>
            {% endif %}
            </tr>
            <tr>
        {% else %}
            {% if data[1]|int %}
            <td bgcolor="green" title="{{ ''.join([data[0]]) }}">&nbsp&nbsp&nbsp&nbsp</td>
            {% else %}
            <td bgcolor="red" title="{{ ''.join([data[0]]) }}">&nbsp&nbsp&nbsp&nbsp</td>
            {% endif %}
        {% endif %}
   {% endfor %}
  </table>
  <table border="1" style="margin-top:20px;">
      <caption><b>Доступность</b>&nbsp;<b>ресурсов</b></caption>
      <tr>
            <th>Ресурс</th>
            <th>Статус</th>
      </tr>
      {% for data in res %}
      <tr>
          <td>{{ data[0] }}</td>
          {% if data[2]|int %}
          <td bgcolor="green" title="{{ ''.join([data[1]]) }}">&nbsp&nbsp&nbsp&nbsp</td>
          {% else %}
          <td bgcolor="red" title="{{ ''.join([data[1]]) }}">&nbsp&nbsp&nbsp&nbsp</td>
          {% endif %}
      </tr>
      {% endfor %}
  </table>
<p style="margin-top:20px;"><b>Кнопки мержа</b></p>
<div style="margin-top:-10px;">
{% for button in buttons %}
<form action="{{ ''.join([button[0]]) }}" target="_blank" method="post">
    <input type="submit" value="{{ ''.join([button[0]]) }}" title="{{ ''.join([button[1]]) }}" style="width:150px;"/>
</form>
{% endfor %}
</div>
</div>
</body>
</html>
